medical/__pycache__/
models/__pycache__/
medspec/__pycache__/
static/
.idea/
.ipynb_checkpoints/
transcription_samples.csv
config.json
training_data/*
!training_data/.gitkeep
ensemble_accuracy_test.ipynb
spam.csv
transcription_test.csv
cache_dir/
wandb/
outputs/
runs/
cardiovascular.csv
consult.csv
orthopedic.csv
spam.csv
surgery.csv

